body {
/*  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
    text-decoration: underline;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


#map {
  width: 750px;
  height: 200px;
}


#wrapper, #wrapper2 {
  margin: auto;
  width: 750px;
  background-color: #009BFF;
  color: white;
  padding: 10px;
}
#wrapper {

}


#content {
/*  float: left; */
  width: 440px;
  margin:auto;
}
#sidebar {
/*  float: right; */
  width: 200px;
}
#cleared {
  clear: both;
}
#location {
  text-align: center;
}

.title {
  font-size: 30pt;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}

.group {
  float: left;
}

input {
  border: 2px solid #006cb2;
  border-radius: 8px;
  padding: 5px;
  font-size: 10pt;
  margin-top: -6;
}


#no-key, #key-group, #sunset-group, #sunrise-group, #change-location-group  {
  clear:both;
  padding-bottom: 15px;
  height: 60px;
  line-height: 40px;
}

#key-group {

}

#link-group {
  clear:both;
  font-size: 10pt;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}



button {
    background-color: #fff;
    border: solid 2px;
    border-color: #006cb2;
    color: black;
    padding: 5px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: relative;
    top: 3px;
}

.button-fail {
  background-color: #e42d26; /* Red */
  border-color: #e42d26;
}

.button-pass {
  background-color: #2abe25; /* Green */
  border-color: #2abe25;
}


button:hover {
    background-color: #006cb2;
    color: white;
}

li {
  padding-bottom: 15px;
}


.sun-intro, .maker-intro {
  width: 130px;
}

.time-text, .form-text {
  width: 200px;
}

#help {
  cursor: pointer;
}

#help:hover {
    text-decoration: underline;
}

#help-panel {
    padding: 0px;
    display: none;
}

#map-bubble {
  color: black;
  font-size: 8pt;
}
#bubble-title {
  font-weight: bold;
}
